#searchandbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  

}
#searchbtn{
  border:2px solid #de5499;
  height:25px;
  width: 70px;
  border-radius: 15px;
  font-family: Roboto;
  color:#de5499;
  transition: background-color 0.4s , color 0.4s;
}
#searchbtn:hover{
  background-color:  #de5499;
  cursor: pointer;
  color:#f2ebe9;
}
body{
  margin: 0px;
}
#topdiv{
   background-color:#f2ebe9;
   margin-top: 0px;
   height: 80px;
   padding-top: 100px;
  
}
#search-bar{
  border:2px solid #de5499;
  border-radius: 15px;
  height: 22px;
  width:300px;
}
#search-bar:focus{
  border:2px solid #de5499;
 outline: none;
}
#bottomdiv{
  min-height: calc(100vh - 180px);;
  background-color: #eddcd9;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin:auto;
justify-content: center;
}
#btndiv{
  display: inline-block;
  margin: auto;
  margin-bottom:10px;
  

}
#bottomofpage{
  margin-right: 0px;
}
.card-overview {
  max-width: min-content;
  margin-left: 300px;
  padding-top:50px;
  display:inline-block;
}

.card-overview #details {
  color:rgba(27, 25, 25, 0.844);
}

.card-overview [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-overview img[slot="image"]{
  width:100%;
}
